<h1>Register</h1>
<form action="/mentee/register/verify" method="post">

<input type="text" name="name" placeholder="name">
<input type="text" name="email" placeholder="email">
<input type="text" name="phone" placeholder="phone">
<input type="text" name="password" placeholder="password">
<input type="text" name="otp" placeholder="otp">

<button class="sendotp-button" onclick="sendOTP()">Send otp</button>
<button class="resendotp-button" onclick="resendOTP()">reSend otp</button>
<button class="verifyotp-button" onclick="verifyOTP()">verify otp</button>

<button type="submit">SUBMIT</button>
</form>

<script>
    document.getElementsByClassName("sendotp-button")[0].addEventListener("click", function (e) {
        e.preventDefault()
    });
    document.getElementsByClassName("resendotp-button")[0].addEventListener("click", function (e) {
        e.preventDefault()
    });
    document.getElementsByClassName("verifyotp-button")[0].addEventListener("click", function (e) {
        e.preventDefault()
    });
    async function sendOTP() {

        const rawResponse = await fetch('/mentee/register/api/send-otp', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.getElementsByName('name')[0].value,
                email: document.getElementsByName('email')[0].value,
                phone: document.getElementsByName('phone')[0].value,
                password: document.getElementsByName('password')[0].value,
                otp: document.getElementsByName('otp')[0].value
            })
        });
        const content = await rawResponse.json();

        console.log(content)
        console.log(rawResponse)

    }


    async function resendOTP() {

        const rawResponse = await fetch('/mentee/register/api/resend-otp', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.getElementsByName('name')[0].value,
                email: document.getElementsByName('email')[0].value,
                phone: document.getElementsByName('phone')[0].value,
                password: document.getElementsByName('password')[0].value,
                otp: document.getElementsByName('otp')[0].value

            })
        });
        const content = await rawResponse.json();

        console.log(content)
        console.log(rawResponse)

    }

    async function verifyOTP() {
        console.log('hello')
        const rawResponse = await fetch('/mentee/register', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.getElementsByName('name')[0].value,
                email: document.getElementsByName('email')[0].value,
                phone: document.getElementsByName('phone')[0].value,
                password: document.getElementsByName('password')[0].value,
                otp: document.getElementsByName('otp')[0].value

            })
        });
        const content = await rawResponse.json();

        console.log(content)
        console.log(rawResponse)

    }
</script>